In [1]:
%pylab inline
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

EVENT = {'INCOMING_CALL':0, 'OUTGOING_CALL':1, 'IDD_CALL':2, 'OUTGOING_SMS':4, 'INCOMING_SMS':5}

Populating the interactive namespace from numpy and matplotlib

In [2]:
infile = '../Data/cleaned_data_2.csv'

# read in csv 
# Convert 'EVENT_DATE' column to Timestamp
# Convert 'DURATION' to timedelta
raw_data = pd.read_csv(infile, sep='|', parse_dates=['EVENT_DATE']) 
raw_data['DURATION'] = pd.to_timedelta(raw_data['DURATION'])

In [3]:
group = raw_data.groupby('A_NUMBER')

In [11]:
churn_duration_str = '15 days'
end_date_str = '2015-4-1'

churn_timedelta = pd.to_timedelta(churn_duration_str)
end_date = pd.to_datetime(end_date_str)
    
def aggregations(x):
    # Pure Social KPI
    out_degree_call = len(pd.unique(x[(x['EVENT_TYPE']==EVENT['OUTGOING_CALL'])]['B_NUMBER']))
    out_degree_sms = len(pd.unique(x[(x['EVENT_TYPE']==EVENT['OUTGOING_SMS'])]['B_NUMBER']))
    in_degree_call = len(pd.unique(x[(x['EVENT_TYPE']==EVENT['INCOMING_CALL'])]['B_NUMBER']))
    in_degree_sms = len(pd.unique(x[(x['EVENT_TYPE']==EVENT['INCOMING_SMS'])]['B_NUMBER']))
    
    first_recds = x['EVENT_DATE'].min()
    last_recds = x['EVENT_DATE'].max()
#     total_recds = len(x)

    num_out_calls = len(x[x['EVENT_TYPE']==EVENT['OUTGOING_CALL']])
    total_out_call_duration = x[x['EVENT_TYPE']==EVENT['OUTGOING_CALL']]['DURATION'].sum()
    total_out_call_duration_sec = total_out_call_duration/np.timedelta64(1,'s')

    num_in_calls = len(x[x['EVENT_TYPE']==EVENT['INCOMING_CALL']])
    total_in_call_duration = x[x['EVENT_TYPE']==EVENT['INCOMING_CALL']]['DURATION'].sum()
    total_in_call_duration_sec = total_in_call_duration/np.timedelta64(1,'s')

    num_IDD_calls = len(x[x['EVENT_TYPE']==EVENT['IDD_CALL']])
    
    num_out_sms = len(x[x['EVENT_TYPE']==EVENT['OUTGOING_SMS']])
    num_in_sms = len(x[x['EVENT_TYPE']==EVENT['INCOMING_SMS']])
    
    # Last KPI
    last_call = x[x['EVENT_TYPE']==EVENT['OUTGOING_CALL']]['EVENT_DATE'].max()
    last_sms = x[x['EVENT_TYPE']==EVENT['OUTGOING_SMS']]['EVENT_DATE'].max()
    last_idd =  x[x['EVENT_TYPE']==EVENT['IDD_CALL']]['EVENT_DATE'].max()
    last_activity = max([pd.to_datetime(last_call), pd.to_datetime(last_sms), pd.to_datetime(last_idd)])
    
    # Churner identifying -- warning: will not work for label propagation, because churner label is only identified next month    
    # TODO ChurnerOutDegree, ChurnerInDegree

    attr_list = [out_degree_call, out_degree_sms, in_degree_call, in_degree_sms
                ,first_recds, last_recds, 
                num_out_calls, total_out_call_duration_sec,
                num_in_calls, total_in_call_duration_sec,
                num_IDD_calls,
                num_out_sms, num_in_sms,
                last_call, last_sms, last_idd, last_activity]

    headers_list = ['out degree call', 'out degree sms', 'in degree call', 'in degree sms'
                    ,'first recds', 'last recds',
                    'num outgoing calls', 'total out call duration in sec',
                    'num incoming calls', 'total in call duration in sec',
                    'num IDD calls',
                    'num outgoing sms', 'num incoming sms',
                    'last call', 'last sms', 'last idd', 'last activity']

    return pd.Series(attr_list, index=headers_list)

agg_data = group.apply(aggregations) 
agg_data

,out degree call,out degree sms,in degree call,in degree sms,first recds,last recds,num outgoing calls,total out call duration in sec,num incoming calls,total in call duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity
A_NUMBER,,,,,,,,,,,,,,,,,
710000810,174,16,144,37,2014-10-01 07:16:46,2015-03-31 19:23:17,1004,70222,1173,79910,0,23,1253,2015-03-31 12:41:02,2015-03-19 15:59:17,NaT,2015-03-31 12:41:02
710002560,136,24,117,35,2014-10-01 06:01:11,2015-03-31 23:50:08,1499,280851,456,36042,0,294,909,2015-03-31 20:18:22,2015-03-31 23:13:06,NaT,2015-03-31 23:13:06
710003902,174,3,151,27,2014-10-01 04:14:52,2015-03-31 22:12:31,2095,429884,972,107018,0,4,395,2015-03-31 20:21:47,2015-02-26 09:49:21,NaT,2015-03-31 20:21:47
710004420,134,7,128,29,2014-10-01 11:17:05,2015-03-31 20:05:40,840,64089,1069,59337,0,25,434,2015-03-31 20:05:40,2015-02-26 05:30:19,NaT,2015-03-31 20:05:40
710004816,70,20,106,27,2014-10-01 03:37:00,2015-03-31 13:15:26,1642,352632,1467,383093,0,124,172,2015-03-31 09:24:38,2015-03-27 06:20:16,NaT,2015-03-31 09:24:38
710005499,156,8,165,53,2014-10-01 09:43:43,2015-03-31 21:10:51,1046,254694,783,126365,15,30,1443,2015-03-31 16:37:28,2015-03-17 14:01:44,2015-01-08 12:44:40,2015-03-31 16:37:28
710007474,188,18,230,44,2014-10-01 07:30:17,2015-03-31 20:00:37,1567,177744,1265,70837,0,43,411,2015-03-30 14:42:42,2015-03-25 20:48:50,NaT,2015-03-30 14:42:42
710008915,62,3,35,10,2015-02-18 18:01:59,2015-03-31 22:02:46,252,22247,233,16940,0,9,121,2015-03-31 20:10:53,2015-03-22 21:23:52,NaT,2015-03-31 20:10:53
710008952,103,7,88,27,2014-10-01 08:02:57,2015-03-31 16:54:36,1689,406603,826,178513,0,24,286,2015-03-31 16:54:36,2015-03-29 17:23:25,NaT,2015-03-31 16:54:36
710010999,120,41,110,50,2014-10-01 08:00:59,2015-03-31 20:05:20,1122,170523,895,148304,0,413,307,2015-03-31 17:40:10,2015-03-31 19:23:08,NaT,2015-03-31 19:23:08
710011709,71,1,12,10,2014-10-01 09:53:06,2015-03-31 08:09:16,353,77084,30,5050,105,1,98,2015-03-31 08:09:16,2015-03-04 18:22:40,2015-03-31 08:06:37,2015-03-31 08:09:16
710013538,87,29,73,43,2014-10-01 04:13:26,2015-03-31 19:05:38,907,114648,612,67572,1,1478,1310,2015-03-31 15:55:25,2015-03-31 18:48:45,2014-10-09 09:01:15,2015-03-31 18:48:45
710013994,322,7,254,23,2014-10-01 07:05:43,2015-03-31 20:48:35,1496,157918,1172,98515,0,10,663,2015-03-31 20:48:35,2015-02-20 11:18:36,NaT,2015-03-31 20:48:35
710014252,56,37,51,57,2014-10-01 06:34:32,2015-03-31 22:29:21,719,139361,563,82483,0,459,1199,2015-03-31 22:29:21,2015-03-31 18:34:43,NaT,2015-03-31 22:29:21
710014837,181,36,114,41,2014-10-01 07:15:43,2015-03-31 20:20:31,1661,172886,399,36380,0,46,514,2015-03-31 20:20:31,2015-03-31 19:32:12,NaT,2015-03-31 20:20:31
710015173,151,12,115,30,2014-10-01 18:54:29,2015-03-31 17:25:10,1222,126558,633,57898,0,135,710,2015-03-31 17:25:10,2015-03-29 14:00:51,NaT,2015-03-31 17:25:10
710018885,285,47,214,76,2014-10-01 09:03:17,2015-03-31 16:20:54,1809,128565,1002,69148,0,79,506,2015-03-31 16:20:54,2015-02-28 09:28:14,NaT,2015-03-31 16:20:54
710021159,21,13,18,16,2014-10-01 01:11:43,2015-03-31 22:16:20,961,805650,928,1064084,0,570,714,2015-03-31 21:59:07,2015-03-31 18:49:07,NaT,2015-03-31 21:59:07
710022340,62,3,50,13,2014-10-01 08:17:43,2015-03-31 20:13:40,412,27234,148,8632,0,10,131,2015-03-31 17:27:53,2015-01-04 08:06:45,NaT,2015-03-31 17:27:53
710025107,208,36,158,38,2014-10-01 07:42:21,2015-03-31 19:36:13,1746,134366,655,47965,0,127,218,2015-03-31 18:27:51,2015-03-11 18:59:02,NaT,2015-03-31 18:27:51
710027975,120,24,114,31,2014-10-01 07:38:17,2015-03-31 20:03:42,1197,171213,577,42734,4,37,340,2015-03-31 19:45:59,2015-01-01 10:31:12,2015-01-03 10:09:11,2015-03-31 19:45:59
710028029,149,8,91,27,2014-10-01 05:50:36,2015-03-31 22:38:38,2280,268798,242,13917,0,71,391,2015-03-31 22:38:38,2015-03-31 03:01:45,NaT,2015-03-31 22:38:38
710031298,151,52,98,50,2014-10-01 08:29:26,2015-03-31 20:40:00,972,76695,752,66536,0,104,153,2015-03-31 20:40:00,2015-03-11 10:32:16,NaT,2015-03-31 20:40:00
710031545,217,21,234,28,2014-10-01 08:31:14,2015-03-31 20:00:16,1235,127666,1180,111412,0,25,245,2015-03-31 19:56:42,2015-03-26 12:25:03,NaT,2015-03-31 19:56:42
710032941,0,0,0,10,2014-10-01 09:29:11,2015-03-30 17:13:28,0,0,0,0,0,0,347,NaT,NaT,NaT,NaT
710033285,77,0,273,16,2014-10-01 07:14:37,2015-03-31 22:10:53,447,35609,2575,109883,1,0,206,2015-03-29 12:45:43,NaT,2014-11-04 20:54:41,2015-03-29 12:45:43
710035696,172,17,179,33,2014-10-01 09:10:15,2015-03-31 16:56:02,2052,263126,644,93002,0,64,271,2015-03-31 12:16:16,2015-03-31 09:55:11,NaT,2015-03-31 12:16:16
710037223,67,1,39,8,2015-01-08 11:15:11,2015-03-31 22:08:29,730,138396,194,23019,0,10,60,2015-03-31 22:08:29,2015-01-22 15:26:02,NaT,2015-03-31 22:08:29
710038483,206,14,132,29,2014-10-01 09:42:28,2015-03-31 21:19:10,1726,290245,958,205360,0,32,314,2015-03-31 21:19:10,2015-03-16 16:07:39,NaT,2015-03-31 21:19:10
710038506,151,20,109,30,2014-10-01 03:11:14,2015-03-31 20:45:22,1685,181122,867,66191,0,158,472,2015-03-31 20:37:08,2015-03-31 16:13:13,NaT,2015-03-31 20:37:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719975363,243,9,102,43,2014-10-01 08:35:32,2015-03-31 21:07:14,1558,131137,928,82729,0,10,273,2015-03-31 17:58:15,2015-02-26 18:53:32,NaT,2015-03-31 17:58:15
719978652,61,5,41,7,2015-03-12 07:00:21,2015-03-31 22:50:01,228,26706,185,41013,0,34,41,2015-03-31 22:49:15,2015-03-31 06:09:13,NaT,2015-03-31 22:49:15
719979089,103,7,127,24,2014-10-01 07:00:30,2015-03-31 20:00:09,936,113653,686,49975,10,334,400,2015-03-31 20:00:09,2015-03-31 18:43:19,2015-03-27 07:20:05,2015-03-31 20:00:09
719980103,107,4,108,22,2014-10-01 10:56:34,2015-03-31 19:59:56,1308,177843,739,92462,0,7,231,2015-03-31 19:59:56,2015-03-26 16:23:35,NaT,2015-03-31 19:59:56
719981026,31,24,16,33,2014-10-08 06:58:43,2015-03-31 20:59:38,1138,466424,588,287304,0,1386,1269,2015-03-31 18:26:14,2015-03-31 17:01:10,NaT,2015-03-31 18:26:14
719981358,41,17,54,30,2014-10-01 07:28:30,2015-03-31 20:43:52,1986,422899,748,216335,0,59,135,2015-03-31 20:43:52,2015-03-19 20:19:42,NaT,2015-03-31 20:43:52
719982250,212,15,184,23,2014-10-01 05:20:28,2015-03-31 21:19:24,1570,111973,888,48970,0,500,92,2015-03-31 21:19:24,2015-03-25 07:11:12,NaT,2015-03-31 21:19:24
719982360,180,22,186,49,2014-10-01 05:22:27,2015-03-31 20:14:24,1177,95614,1172,103485,1,35,232,2015-03-31 20:14:24,2015-03-23 20:23:00,2014-12-30 19:23:34,2015-03-31 20:14:24
719982596,274,3,163,36,2014-10-01 05:38:53,2015-03-31 17:53:54,2038,312501,445,28256,0,10,459,2015-03-31 17:53:54,2015-03-17 08:37:28,NaT,2015-03-31 17:53:54
719982910,150,48,175,93,2014-10-01 06:35:35,2015-03-31 21:24:49,1860,210328,740,73568,0,70,756,2015-03-31 21:24:49,2015-03-18 18:27:57,NaT,2015-03-31 21:24:49
719984598,15,35,2,14,2014-10-05 11:24:11,2015-03-31 20:00:11,40,4822,3,62,12,68,66,2015-03-13 20:39:28,2015-03-25 22:11:09,2015-03-23 15:39:14,2015-03-25 22:11:09
719985486,107,2,70,24,2014-10-01 06:33:32,2015-03-31 17:18:07,1820,213570,166,10400,1,2,647,2015-03-31 17:00:58,2015-03-15 10:04:39,2014-12-19 07:03:33,2015-03-31 17:00:58
719986113,245,6,260,25,2014-10-01 06:44:06,2015-03-31 18:42:10,2761,463833,864,115435,8,10,459,2015-03-31 18:42:10,2015-01-08 14:09:51,2015-03-20 23:54:10,2015-03-31 18:42:10
719986199,9,3,2,5,2015-02-07 21:33:08,2015-03-31 21:57:11,61,31497,52,43166,0,194,182,2015-03-31 21:57:11,2015-03-31 20:06:20,NaT,2015-03-31 21:57:11
719987177,94,6,72,18,2014-10-01 06:14:23,2015-03-31 18:13:14,2203,256614,593,30993,0,13,294,2015-03-31 18:13:14,2015-03-24 17:24:46,NaT,2015-03-31 18:13:14
719987862,52,20,25,25,2014-10-03 21:34:44,2015-03-31 23:59:48,1119,292344,742,199624,0,1034,1821,2015-03-31 23:55:28,2015-03-31 23:59:48,NaT,2015-03-31 23:59:48
719988922,54,8,46,16,2015-02-12 10:20:21,2015-03-31 21:42:00,379,40367,287,26735,0,9,69,2015-03-31 20:35:43,2015-03-26 12:30:37,NaT,2015-03-31 20:35:43
719989152,130,20,135,39,2014-10-01 06:50:37,2015-03-31 19:52:52,1922,158882,1339,115455,0,61,365,2015-03-31 17:23:59,2015-03-30 19:13:42,NaT,2015-03-31 17:23:59
719991815,82,5,75,16,2014-10-01 06:16:56,2015-03-31 22:32:01,1626,197830,527,38584,0,33,234,2015-03-31 21:50:08,2015-03-12 17:41:28,NaT,2015-03-31 21:50:08
719992884,70,9,30,13,2014-11-01 12:25:11,2015-03-31 20:41:29,432,32554,384,34997,0,44,226,2015-03-31 20:41:29,2015-03-29 20:12:34,NaT,2015-03-31 20:41:29
719992957,168,31,99,51,2014-10-01 04:39:15,2015-03-31 20:22:23,1601,105936,398,24942,0,78,477,2015-03-31 12:06:21,2015-03-31 11:12:36,NaT,2015-03-31 12:06:21
719993990,22,7,2,12,2015-03-01 08:58:44,2015-03-31 18:58:55,71,23556,2,57,0,114,171,2015-03-29 07:33:27,2015-03-30 21:45:52,NaT,2015-03-30 21:45:52
719994297,146,40,76,56,2014-10-01 07:33:37,2015-03-27 08:47:19,584,99040,210,12550,4,375,335,2015-03-27 08:47:19,2015-03-26 22:23:13,2015-03-14 17:53:09,2015-03-27 08:47:19
719994972,165,0,94,9,2014-10-01 03:56:14,2015-03-31 21:45:25,1493,307600,491,56900,0,0,22,2015-03-31 20:55:22,NaT,NaT,2015-03-31 20:55:22
719995179,134,9,64,45,2014-10-01 03:37:25,2015-03-31 13:30:43,1182,235415,650,100276,0,12,474,2015-03-31 12:50:10,2015-03-13 09:50:07,NaT,2015-03-31 12:50:10
719995614,3,4,5,6,2015-02-25 07:19:48,2015-03-31 20:38:11,204,96486,171,68693,0,31,102,2015-03-31 20:38:11,2015-03-31 18:44:55,NaT,2015-03-31 20:38:11
719997739,116,60,61,60,2014-10-01 08:40:38,2015-03-31 18:54:08,1159,270976,496,62092,11,258,596,2015-03-31 18:54:08,2015-03-31 17:42:42,2015-03-08 15:33:23,2015-03-31 18:54:08
719998543,98,10,81,25,2014-10-01 06:58:31,2015-03-31 18:29:31,1027,51958,797,35692,0,26,168,2015-03-31 14:54:14,2015-03-17 09:10:35,NaT,2015-03-31 14:54:14
719998683,113,11,110,29,2014-10-01 07:27:59,2015-03-31 22:40:20,1393,121328,877,87160,4,12,206,2015-03-31 18:16:37,2015-03-04 11:41:58,2014-12-25 19:24:07,2015-03-31 18:16:37
719999025,69,25,66,42,2014-10-01 06:06:19,2015-03-31 21:27:33,1237,293940,554,106236,2,346,810,2015-03-31 20:20:18,2015-03-31 13:58:03,2015-02-28 21:21:10,2015-03-31 20:20:18

In [12]:
# First month data
firstmonth_raw = raw_data[raw_data['EVENT_DATE'].dt.month == 10]
firstmonth_group = firstmonth_raw.groupby('A_NUMBER')

churn_duration_str = '15 days'
end_date_str = '2015-10-31'

churn_timedelta = pd.to_timedelta(churn_duration_str)
end_date = pd.to_datetime(end_date_str)

firstmonth_features = firstmonth_group.apply(aggregations)

In [13]:
firstmonth_features

,out degree call,out degree sms,in degree call,in degree sms,first recds,last recds,num outgoing calls,total out call duration in sec,num incoming calls,total in call duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity
A_NUMBER,,,,,,,,,,,,,,,,,
710000810,52,0,45,8,2014-10-01 07:16:46,2014-10-31 21:46:52,159,11047,189,13240,0,0,183,2014-10-31 18:48:21,NaT,NaT,2014-10-31 18:48:21
710002560,42,3,30,11,2014-10-01 06:01:11,2014-10-31 23:46:22,222,45173,74,4675,0,37,183,2014-10-31 21:25:15,2014-10-31 23:46:22,NaT,2014-10-31 23:46:22
710003902,50,0,37,8,2014-10-01 04:14:52,2014-10-31 21:28:56,427,83280,131,11089,0,0,57,2014-10-31 21:28:56,NaT,NaT,2014-10-31 21:28:56
710004420,36,0,48,7,2014-10-01 11:17:05,2014-10-31 17:42:55,113,8689,145,10741,0,0,59,2014-10-31 13:35:27,NaT,NaT,2014-10-31 13:35:27
710004816,27,7,39,12,2014-10-01 03:37:00,2014-10-31 21:17:35,285,60163,280,70742,0,28,38,2014-10-31 19:30:28,2014-10-30 19:53:29,NaT,2014-10-31 19:30:28
710005499,47,0,47,10,2014-10-01 09:43:43,2014-10-31 20:48:23,119,20067,106,21917,2,0,212,2014-10-31 20:25:41,NaT,2014-10-20 20:13:31,2014-10-31 20:25:41
710007474,56,5,74,11,2014-10-01 07:30:17,2014-10-31 21:32:14,272,36201,229,15440,0,6,67,2014-10-31 21:32:14,2014-10-21 14:17:17,NaT,2014-10-31 21:32:14
710008952,31,0,29,4,2014-10-01 08:02:57,2014-10-31 20:34:33,296,74457,154,33780,0,0,39,2014-10-31 20:34:33,NaT,NaT,2014-10-31 20:34:33
710010999,50,4,34,5,2014-10-01 08:00:59,2014-10-31 16:42:32,209,21341,114,14967,0,23,26,2014-10-31 16:42:32,2014-10-31 08:22:52,NaT,2014-10-31 16:42:32
710011709,17,0,3,3,2014-10-01 09:53:06,2014-10-31 07:23:35,58,8532,4,217,19,0,21,2014-10-30 13:00:29,NaT,2014-10-31 07:23:35,2014-10-31 07:23:35
710013538,32,10,31,18,2014-10-01 04:13:26,2014-10-31 21:48:21,249,29173,136,11195,1,364,378,2014-10-31 21:48:21,2014-10-31 18:26:54,2014-10-09 09:01:15,2014-10-31 21:48:21
710013994,93,1,76,6,2014-10-01 07:05:43,2014-10-31 19:04:39,345,37669,286,26395,0,1,70,2014-10-31 19:04:39,2014-10-08 18:21:57,NaT,2014-10-31 19:04:39
710014252,20,13,17,14,2014-10-01 06:34:32,2014-10-31 21:49:01,117,26612,113,15367,0,80,215,2014-10-31 21:47:08,2014-10-30 19:34:33,NaT,2014-10-31 21:47:08
710014837,57,3,19,9,2014-10-01 07:15:43,2014-10-31 09:11:49,226,29320,27,2645,0,3,82,2014-10-31 09:11:49,2014-10-24 10:34:56,NaT,2014-10-31 09:11:49
710015173,47,1,30,5,2014-10-01 18:54:29,2014-10-31 16:26:50,200,16185,85,7949,0,1,60,2014-10-31 16:26:50,2014-10-06 11:16:03,NaT,2014-10-31 16:26:50
710018885,78,1,60,17,2014-10-01 09:03:17,2014-10-31 20:56:46,238,22124,158,11189,0,3,83,2014-10-31 20:49:13,2014-10-10 11:50:33,NaT,2014-10-31 20:49:13
710021159,12,3,7,8,2014-10-01 01:11:43,2014-10-31 21:31:30,249,211065,139,175194,0,74,92,2014-10-31 20:09:08,2014-10-30 07:25:55,NaT,2014-10-31 20:09:08
710022340,19,1,13,5,2014-10-01 08:17:43,2014-10-31 18:21:00,84,5106,33,1081,0,2,15,2014-10-31 11:11:10,2014-10-04 00:03:07,NaT,2014-10-31 11:11:10
710025107,73,1,55,4,2014-10-01 07:42:21,2014-10-31 19:25:37,277,23992,107,7208,0,3,15,2014-10-31 19:25:37,2014-10-19 07:48:15,NaT,2014-10-31 19:25:37
710027975,34,3,24,8,2014-10-01 07:38:17,2014-10-31 19:23:15,161,25926,65,3671,2,6,54,2014-10-31 19:23:15,2014-10-26 22:58:12,2014-10-22 13:26:37,2014-10-31 19:23:15
710028029,50,3,24,10,2014-10-01 05:50:36,2014-10-31 22:01:24,445,45320,59,3845,0,18,71,2014-10-31 22:01:24,2014-10-31 07:16:46,NaT,2014-10-31 22:01:24
710031298,60,1,37,7,2014-10-01 08:29:26,2014-10-31 19:03:01,154,12514,97,7208,0,2,18,2014-10-31 19:03:01,2014-10-17 15:04:05,NaT,2014-10-31 19:03:01
710031545,75,2,74,3,2014-10-01 08:31:14,2014-10-31 18:29:21,198,18399,222,23258,0,2,34,2014-10-31 13:26:58,2014-10-29 10:17:20,NaT,2014-10-31 13:26:58
710032941,0,0,0,3,2014-10-01 09:29:11,2014-10-31 16:22:18,0,0,0,0,0,0,67,NaT,NaT,NaT,NaT
710033285,19,0,94,5,2014-10-01 07:14:37,2014-10-31 21:20:54,52,5306,467,14133,0,0,32,2014-10-31 21:20:54,NaT,NaT,2014-10-31 21:20:54
710035696,49,2,43,8,2014-10-01 09:10:15,2014-10-31 20:22:56,266,28856,108,13992,0,4,42,2014-10-31 20:22:56,2014-10-29 20:37:45,NaT,2014-10-31 20:22:56
710038483,71,2,57,13,2014-10-01 09:42:28,2014-10-31 20:14:33,336,69967,223,63027,0,3,56,2014-10-31 14:43:16,2014-10-27 13:21:49,NaT,2014-10-31 14:43:16
710038506,57,6,48,9,2014-10-01 03:11:14,2014-10-31 19:23:17,353,41502,169,16905,0,19,88,2014-10-31 18:26:40,2014-10-28 22:10:35,NaT,2014-10-31 18:26:40
710039382,44,4,52,11,2014-10-01 08:07:53,2014-10-31 21:30:23,122,10812,109,12462,40,9,30,2014-10-31 21:30:23,2014-10-22 10:12:17,2014-10-25 21:41:36,2014-10-31 21:30:23
710041730,69,1,69,6,2014-10-01 05:51:10,2014-10-31 18:06:37,202,23232,264,27745,0,1,29,2014-10-31 18:06:37,2014-10-28 21:10:50,NaT,2014-10-31 18:06:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719963429,32,6,20,14,2014-10-01 09:38:31,2014-10-31 18:21:22,328,59971,194,21332,0,11,64,2014-10-31 16:09:28,2014-10-31 11:47:49,NaT,2014-10-31 16:09:28
719964373,39,1,34,7,2014-10-01 06:58:01,2014-10-31 18:38:53,181,17610,90,8648,0,3,86,2014-10-31 18:03:35,2014-10-19 20:04:10,NaT,2014-10-31 18:03:35
719966415,19,4,15,6,2014-10-01 07:54:39,2014-10-31 20:46:20,152,17941,87,13731,0,5,20,2014-10-31 16:06:19,2014-10-26 12:25:18,NaT,2014-10-31 16:06:19
719967317,78,5,38,26,2014-10-01 07:09:13,2014-10-31 21:11:41,316,26885,112,17232,0,26,114,2014-10-31 21:11:41,2014-10-30 18:06:59,NaT,2014-10-31 21:11:41
719969637,40,3,34,8,2014-10-01 06:05:27,2014-10-31 21:12:07,255,56981,114,21741,0,7,63,2014-10-31 18:46:05,2014-10-11 22:02:40,NaT,2014-10-31 18:46:05
719969820,16,9,16,10,2014-10-10 18:24:05,2014-10-31 21:59:49,335,54222,231,38244,0,113,113,2014-10-31 20:24:38,2014-10-31 21:58:38,NaT,2014-10-31 21:58:38
719975363,85,1,34,8,2014-10-01 08:35:32,2014-10-31 20:51:54,309,27842,153,16456,0,1,37,2014-10-31 17:21:47,2014-10-27 19:22:46,NaT,2014-10-31 17:21:47
719979089,45,2,43,8,2014-10-01 07:00:30,2014-10-31 20:25:15,199,20540,108,8329,1,18,88,2014-10-31 20:24:24,2014-10-23 10:54:40,2014-10-10 20:22:39,2014-10-31 20:24:24
719980103,33,0,34,4,2014-10-01 10:56:34,2014-10-31 23:22:07,184,20147,141,14918,0,0,22,2014-10-31 23:22:07,NaT,NaT,2014-10-31 23:22:07
719981026,7,11,6,13,2014-10-08 06:58:43,2014-10-31 23:11:46,166,68438,115,69915,0,215,166,2014-10-31 22:48:48,2014-10-31 20:51:22,NaT,2014-10-31 22:48:48
719981358,13,5,10,7,2014-10-01 07:28:30,2014-10-31 07:26:54,315,72695,119,32522,0,12,17,2014-10-30 21:18:10,2014-10-18 07:02:36,NaT,2014-10-30 21:18:10
719982250,83,4,58,4,2014-10-01 05:20:28,2014-10-31 18:41:04,260,16576,163,8759,0,91,15,2014-10-31 18:41:04,2014-10-30 06:07:16,NaT,2014-10-31 18:41:04
719982360,46,2,53,9,2014-10-01 05:22:27,2014-10-31 19:09:27,138,14640,197,20081,0,4,23,2014-10-31 19:09:27,2014-10-11 16:18:26,NaT,2014-10-31 19:09:27
719982596,76,1,40,13,2014-10-01 05:38:53,2014-10-31 18:44:11,396,59070,96,5101,0,1,79,2014-10-31 18:44:11,2014-10-09 07:10:15,NaT,2014-10-31 18:44:11
719982910,51,3,53,13,2014-10-01 06:35:35,2014-10-31 21:49:24,337,47552,110,12181,0,6,94,2014-10-31 21:49:24,2014-10-24 18:57:50,NaT,2014-10-31 21:49:24
719984598,7,28,0,0,2014-10-05 11:24:11,2014-10-28 21:51:32,14,460,0,0,3,47,0,2014-10-24 17:10:40,2014-10-28 21:51:32,2014-10-05 13:31:16,2014-10-28 21:51:32
719985486,35,0,17,7,2014-10-01 06:33:32,2014-10-31 16:20:34,262,33580,18,1166,0,0,88,2014-10-31 16:20:34,NaT,NaT,2014-10-31 16:20:34
719986113,83,3,66,7,2014-10-01 06:44:06,2014-10-31 21:41:45,577,83948,125,18407,0,3,60,2014-10-31 21:41:45,2014-10-26 13:57:57,NaT,2014-10-31 21:41:45
719987177,31,1,22,5,2014-10-01 06:14:23,2014-10-31 21:23:20,396,42315,109,5610,0,6,51,2014-10-31 21:23:20,2014-10-29 17:02:50,NaT,2014-10-31 21:23:20
719987862,10,8,6,5,2014-10-03 21:34:44,2014-10-31 18:30:36,242,54434,148,30377,0,304,457,2014-10-31 18:30:36,2014-10-31 16:57:38,NaT,2014-10-31 18:30:36
719989152,38,4,44,7,2014-10-01 06:50:37,2014-10-31 17:48:46,241,18855,229,18632,0,7,48,2014-10-31 17:48:46,2014-10-29 19:42:13,NaT,2014-10-31 17:48:46
719991815,25,0,23,6,2014-10-01 06:16:56,2014-10-31 21:34:23,305,35615,59,5606,0,0,11,2014-10-31 21:34:23,NaT,NaT,2014-10-31 21:34:23
719992957,55,6,28,11,2014-10-01 04:39:15,2014-10-31 20:12:16,271,22598,66,4062,0,8,65,2014-10-31 17:10:12,2014-10-31 18:19:01,NaT,2014-10-31 18:19:01
719994297,40,9,16,11,2014-10-01 07:33:37,2014-10-30 22:01:43,97,19343,29,1402,0,75,37,2014-10-19 07:14:56,2014-10-18 17:09:48,NaT,2014-10-19 07:14:56
719994972,39,0,18,2,2014-10-01 03:56:14,2014-10-31 10:44:06,234,46846,58,5889,0,0,3,2014-10-31 10:17:06,NaT,NaT,2014-10-31 10:17:06
719995179,41,3,24,14,2014-10-01 03:37:25,2014-10-31 17:21:28,207,44266,79,12003,0,4,62,2014-10-31 10:28:18,2014-10-23 07:33:06,NaT,2014-10-31 10:28:18
719997739,37,2,24,17,2014-10-01 08:40:38,2014-10-31 21:03:41,245,53043,117,12733,1,4,78,2014-10-31 21:03:41,2014-10-24 11:34:23,2014-10-02 08:49:03,2014-10-31 21:03:41
719998543,19,1,13,4,2014-10-01 06:58:31,2014-10-31 20:15:49,96,4066,113,4579,0,3,17,2014-10-31 11:14:24,2014-10-21 11:30:39,NaT,2014-10-31 11:14:24
719998683,49,5,54,9,2014-10-01 07:27:59,2014-10-31 19:34:27,439,28672,253,22060,2,5,28,2014-10-31 19:34:27,2014-10-20 15:12:25,2014-10-10 11:42:30,2014-10-31 19:34:27
719999025,33,3,38,11,2014-10-01 06:06:19,2014-10-31 21:39:34,326,68607,165,26375,0,50,115,2014-10-31 18:45:34,2014-10-31 21:33:01,NaT,2014-10-31 21:33:01

In [26]:
halfmonth_raw = raw_data[(raw_data['EVENT_DATE'].dt.month == 11) & (raw_data['EVENT_DATE'].dt.day <16)]
halfmonth_group = halfmonth_raw.groupby(['A_NUMBER'])

def nonchurns(x):
    churner = 0
    return pd.Series([churner], index=['churner'])
    
halfmonth_agg = halfmonth_group.apply(nonchurns)
halfmonth_agg

           churner
A_NUMBER
710000810        0
710002560        0
710003902        0
710004420        0
710004816        0
710005499        0
710007474        0
710008952        0
710010999        0
710011709        0
710013538        0
710013994        0
710014252        0
710014837        0
710015173        0
710018885        0
710021159        0
710022340        0
710025107        0
710027975        0
710028029        0
710031298        0
710031545        0
710032941        0
710033285        0
710035696        0
710038483        0
710038506        0
710039382        0
710041730        0
...            ...
719964373        0
719966415        0
719967317        0
719969637        0
719969820        0
719975363        0
719979089        0
719980103        0
719981026        0
719981358        0
719982250        0
719982360        0
719982596        0
719982910        0
719984598        0
719985486        0
719986113        0
719987177        0
719987862        0
719989152        0
719991815        0
719992884        0
719992957        0
719994297        0
719994972        0
719995179        0
719997739        0
719998543        0
719998683        0
719999025        0

[7061 rows x 1 columns]

In [56]:
halfmonth_raw = raw_data[(raw_data['EVENT_DATE'].dt.month == 11) & (raw_data['EVENT_DATE'].dt.day <16)]
halfmonth_group = halfmonth_raw.groupby(['A_NUMBER'])

def nonchurns(x):
    churner = 0
    return pd.Series([churner], index=['churner'])
    
halfmonth_agg = halfmonth_group.apply(nonchurns)

# join features and churn
joinchurn = firstmonth_features.join(halfmonth_agg)

# Set churner=1 for people who do not make any activities in 15 days
joinchurn['churner'] = joinchurn['churner'].fillna(1)

In [60]:
# churners list
joinchurn[joinchurn['churner'] != 0]

,out degree call,out degree sms,in degree call,in degree sms,first recds,last recds,num outgoing calls,total out call duration in sec,num incoming calls,total in call duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity,churner
A_NUMBER,,,,,,,,,,,,,,,,,,
710206458,0,0,35,2,2014-10-01 12:41:12,2014-10-25 17:55:19,0,0,124,6905,0,0,4,NaT,NaT,NaT,0,1
710358916,0,0,1,0,2014-10-18 11:46:07,2014-10-20 22:12:54,0,0,3,63,0,0,0,NaT,NaT,NaT,0,1
710453687,9,1,6,3,2014-10-01 03:05:31,2014-10-08 08:09:58,10,1776,9,966,0,48,53,2014-10-07 14:41:23,2014-10-03 21:53:54,NaT,7,1
710532062,21,8,13,15,2014-10-01 08:29:17,2014-10-12 11:31:36,54,6399,20,2198,0,14,38,2014-10-05 12:34:52,2014-10-04 13:50:01,NaT,5,1
710552090,0,0,24,8,2014-10-01 07:03:12,2014-10-17 16:44:39,0,0,39,5054,0,0,28,NaT,NaT,NaT,0,1
710738110,1,0,0,0,2014-10-12 21:08:15,2014-10-21 21:39:50,4,1062,0,0,0,0,0,2014-10-21 21:39:50,NaT,NaT,21,1
710835438,27,2,31,22,2014-10-01 06:35:48,2014-10-25 10:32:16,174,61055,127,14920,0,10,77,2014-10-25 10:32:16,2014-10-24 23:59:48,NaT,25,1
711008183,15,2,10,8,2014-10-01 00:29:23,2014-10-12 10:13:38,162,57867,33,3358,0,27,80,2014-10-07 00:56:42,2014-10-05 09:54:32,NaT,7,1
711070882,0,0,0,1,2014-10-13 20:07:43,2014-10-13 20:07:43,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
711176896,0,0,0,1,2014-10-01 12:22:40,2014-10-01 12:22:40,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
711208643,1,0,1,0,2014-10-05 12:10:01,2014-10-30 06:50:06,4,530,1,213,0,0,0,2014-10-30 06:50:06,NaT,NaT,30,1
711220465,0,0,0,1,2014-10-01 11:00:40,2014-10-23 06:30:56,0,0,0,0,0,0,6,NaT,NaT,NaT,0,1
711458608,20,1,8,3,2014-10-01 06:41:33,2014-10-26 12:31:36,52,4428,45,2220,0,1,3,2014-10-19 09:30:22,2014-10-19 09:28:28,NaT,19,1
711475353,0,2,0,0,2014-10-08 09:15:00,2014-10-15 13:50:55,0,0,0,0,0,2,0,NaT,2014-10-15 13:50:55,NaT,0,1
711728955,0,4,0,10,2014-10-05 21:49:09,2014-10-31 15:50:28,0,0,0,0,0,4,12,NaT,2014-10-05 21:58:17,NaT,0,1
711745727,15,0,11,7,2014-10-01 07:42:59,2014-10-16 09:38:42,76,9363,18,3290,0,0,25,2014-10-16 09:37:48,NaT,NaT,16,1
711772470,45,6,16,9,2014-10-01 13:22:33,2014-10-24 16:03:57,130,18652,20,2577,0,19,54,2014-10-24 16:03:57,2014-10-18 19:08:59,NaT,24,1
712107060,0,0,0,2,2014-10-02 13:39:11,2014-10-11 09:02:17,0,0,0,0,0,0,7,NaT,NaT,NaT,0,1
712150288,0,0,27,7,2014-10-01 19:19:18,2014-10-27 22:14:47,0,0,135,21679,0,0,53,NaT,NaT,NaT,0,1
712187848,6,0,9,6,2014-10-01 07:56:14,2014-10-13 12:55:50,12,896,45,1964,0,0,71,2014-10-11 10:18:05,NaT,NaT,11,1
712318488,0,0,0,0,2014-10-25 22:33:59,2014-10-25 22:33:59,0,0,0,0,1,0,0,NaT,NaT,2014-10-25 22:33:59,0,1
712492177,0,0,0,3,2014-10-01 10:21:33,2014-10-07 11:22:58,0,0,0,0,0,0,10,NaT,NaT,NaT,0,1
712550523,0,0,10,5,2014-10-01 10:37:17,2014-10-10 09:03:39,0,0,12,2800,0,0,12,NaT,NaT,NaT,0,1
712667468,0,0,22,4,2014-10-01 10:37:22,2014-10-18 16:25:42,0,0,41,3113,0,0,19,NaT,NaT,NaT,0,1
712776495,46,12,16,23,2014-10-01 05:18:19,2014-10-27 09:16:25,142,18587,43,12646,6,689,442,2014-10-27 09:10:28,2014-10-27 09:16:25,2014-10-21 17:50:16,27,1
712825832,2,0,54,1,2014-10-01 07:00:58,2014-10-16 16:43:12,105,2637,162,4302,0,0,52,2014-10-15 23:11:58,NaT,NaT,15,1
712903734,0,0,33,16,2014-10-02 08:55:48,2014-10-19 16:50:14,0,0,59,5483,0,0,44,NaT,NaT,NaT,0,1
713217758,32,7,17,11,2014-10-01 12:03:21,2014-10-31 09:10:50,222,61667,54,2554,0,17,51,2014-10-31 09:10:50,2014-10-31 08:55:03,NaT,31,1
713375514,0,0,0,1,2014-10-02 13:53:26,2014-10-04 19:55:21,0,0,0,0,0,0,2,NaT,NaT,NaT,0,1
713630346,0,0,4,2,2014-10-02 18:16:33,2014-10-25 16:33:42,0,0,7,127,0,0,2,NaT,NaT,NaT,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715020407,0,1,0,0,2014-10-08 22:49:46,2014-10-08 22:49:46,0,0,0,0,0,1,0,NaT,2014-10-08 22:49:46,NaT,0,1
715372389,0,0,0,1,2014-10-25 16:31:18,2014-10-25 16:31:18,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
715605611,0,1,0,0,2014-10-17 09:38:18,2014-10-17 09:40:46,0,0,0,0,0,5,0,NaT,2014-10-17 09:40:46,NaT,0,1
715659134,47,11,22,15,2014-10-01 06:56:11,2014-10-16 18:42:07,140,27521,36,3675,0,30,52,2014-10-16 18:38:12,2014-10-16 18:42:07,NaT,16,1
715716448,0,0,1,1,2014-10-22 14:50:21,2014-10-25 16:33:27,0,0,1,31,0,0,1,NaT,NaT,NaT,0,1
716374739,4,0,0,3,2014-10-01 06:27:58,2014-10-31 20:42:08,5,478,0,0,0,0,6,2014-10-31 20:42:08,NaT,NaT,31,1
716664691,2,2,0,4,2014-10-02 21:16:09,2014-10-05 15:06:04,3,780,0,0,0,8,12,2014-10-04 15:07:09,2014-10-04 17:51:39,NaT,4,1
716814861,0,0,0,2,2014-10-22 11:31:37,2014-10-26 23:17:47,0,0,0,0,0,0,2,NaT,NaT,NaT,0,1
716980571,0,0,0,1,2014-10-04 10:03:30,2014-10-04 10:03:30,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
717134732,0,4,1,2,2014-10-08 07:16:12,2014-10-25 16:35:42,0,0,1,36,0,7,2,NaT,2014-10-24 20:00:22,NaT,0,1
717363092,4,4,1,1,2014-10-01 06:00:43,2014-10-15 09:54:31,143,28781,1,363,0,37,1,2014-10-15 00:45:20,2014-10-15 09:54:31,NaT,15,1
717661119,0,0,0,4,2014-10-06 15:37:48,2014-10-19 20:43:56,0,0,0,0,0,0,19,NaT,NaT,NaT,0,1
717704820,1,0,2,0,2014-10-01 11:55:44,2014-10-05 17:08:48,1,21,11,6136,0,0,0,2014-10-05 14:44:40,NaT,NaT,5,1
718053841,0,2,0,4,2014-10-02 10:18:20,2014-10-28 20:04:09,0,0,0,0,0,2,23,NaT,2014-10-27 10:03:16,NaT,0,1
718151487,0,0,1,1,2014-10-23 11:29:40,2014-10-25 16:34:33,0,0,1,8,0,0,1,NaT,NaT,NaT,0,1
718158959,0,0,0,1,2014-10-07 18:27:08,2014-10-07 18:27:08,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
718331490,29,0,10,3,2014-10-14 14:16:01,2014-10-21 23:20:47,134,43288,34,7073,1,0,10,2014-10-21 22:16:53,NaT,2014-10-20 12:46:07,21,1
718437315,0,0,0,1,2014-10-25 16:34:39,2014-10-25 16:34:39,0,0,0,0,0,0,1,NaT,NaT,NaT,0,1
718468957,49,6,52,11,2014-10-01 08:12:10,2014-10-29 12:10:08,212,19178,203,21813,0,6,74,2014-10-29 12:09:02,2014-10-17 19:51:55,NaT,29,1
718681326,8,4,3,3,2014-10-14 14:11:33,2014-10-23 08:14:45,39,3587,5,252,0,61,41,2014-10-23 08:14:45,2014-10-22 19:27:50,NaT,23,1
718843023,0,0,4,1,2014-10-06 01:05:56,2014-10-23 15:07:05,0,0,7,642,0,0,1,NaT,NaT,NaT,0,1
718947863,45,5,50,11,2014-10-01 06:43:29,2014-10-25 01:27:56,172,20876,139,15836,0,13,53,2014-10-24 20:23:29,2014-10-24 17:31:27,NaT,24,1
719068938,0,0,1,0,2014-10-22 14:51:17,2014-10-22 14:51:17,0,0,1,7,0,0,0,NaT,NaT,NaT,0,1
719326008,0,0,0,2,2014-10-01 17:00:05,2014-10-02 22:51:27,0,0,0,0,0,0,3,NaT,NaT,NaT,0,1
719399756,5,0,6,3,2014-10-01 07:13:45,2014-10-02 10:32:55,6,810,6,412,0,0,5,2014-10-02 09:03:53,NaT,NaT,2,1
719467837,0,0,0,1,2014-10-02 01:11:32,2014-10-13 20:44:07,0,0,0,0,0,0,9,NaT,NaT,NaT,0,1
719511950,0,0,0,2,2014-10-05 10:30:57,2014-10-19 08:52:13,0,0,0,0,0,0,12,NaT,NaT,NaT,0,1
719557674,0,1,0,1,2014-10-03 14:57:45,2014-10-03 14:57:51,0,0,0,0,0,1,1,NaT,2014-10-03 14:57:45,NaT,0,1
719590135,14,3,14,10,2014-10-01 07:04:25,2014-10-21 16:58:59,55,16759,27,5666,0,40,164,2014-10-21 14:09:40,2014-10-08 05:57:44,NaT,21,1
719682714,0,0,0,1,2014-10-04 16:44:38,2014-10-30 22:33:27,0,0,0,0,0,0,6,NaT,NaT,NaT,0,1

In [77]:
# joinchurn = joinchurn.dt.day - Note: not working for dataframes

for column in joinchurn:
    if joinchurn[column].dtypes == '<M8[ns]':    # '<M8[ns]' is datetime 
        joinchurn[column] = joinchurn[column].dt.day
        joinchurn[column] = joinchurn[column].fillna(0)

In [78]:
joinchurn

,out degree call,out degree sms,in degree call,in degree sms,first recds,last recds,num outgoing calls,total out call duration in sec,num incoming calls,total in call duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity,churner
A_NUMBER,,,,,,,,,,,,,,,,,,
710000810,52,0,45,8,1,31,159,11047,189,13240,0,0,183,31,0,0,31,0
710002560,42,3,30,11,1,31,222,45173,74,4675,0,37,183,31,31,0,31,0
710003902,50,0,37,8,1,31,427,83280,131,11089,0,0,57,31,0,0,31,0
710004420,36,0,48,7,1,31,113,8689,145,10741,0,0,59,31,0,0,31,0
710004816,27,7,39,12,1,31,285,60163,280,70742,0,28,38,31,30,0,31,0
710005499,47,0,47,10,1,31,119,20067,106,21917,2,0,212,31,0,20,31,0
710007474,56,5,74,11,1,31,272,36201,229,15440,0,6,67,31,21,0,31,0
710008952,31,0,29,4,1,31,296,74457,154,33780,0,0,39,31,0,0,31,0
710010999,50,4,34,5,1,31,209,21341,114,14967,0,23,26,31,31,0,31,0
710011709,17,0,3,3,1,31,58,8532,4,217,19,0,21,30,0,31,31,0
710013538,32,10,31,18,1,31,249,29173,136,11195,1,364,378,31,31,9,31,0
710013994,93,1,76,6,1,31,345,37669,286,26395,0,1,70,31,8,0,31,0
710014252,20,13,17,14,1,31,117,26612,113,15367,0,80,215,31,30,0,31,0
710014837,57,3,19,9,1,31,226,29320,27,2645,0,3,82,31,24,0,31,0
710015173,47,1,30,5,1,31,200,16185,85,7949,0,1,60,31,6,0,31,0
710018885,78,1,60,17,1,31,238,22124,158,11189,0,3,83,31,10,0,31,0
710021159,12,3,7,8,1,31,249,211065,139,175194,0,74,92,31,30,0,31,0
710022340,19,1,13,5,1,31,84,5106,33,1081,0,2,15,31,4,0,31,0
710025107,73,1,55,4,1,31,277,23992,107,7208,0,3,15,31,19,0,31,0
710027975,34,3,24,8,1,31,161,25926,65,3671,2,6,54,31,26,22,31,0
710028029,50,3,24,10,1,31,445,45320,59,3845,0,18,71,31,31,0,31,0
710031298,60,1,37,7,1,31,154,12514,97,7208,0,2,18,31,17,0,31,0
710031545,75,2,74,3,1,31,198,18399,222,23258,0,2,34,31,29,0,31,0
710032941,0,0,0,3,1,31,0,0,0,0,0,0,67,0,0,0,0,0
710033285,19,0,94,5,1,31,52,5306,467,14133,0,0,32,31,0,0,31,0
710035696,49,2,43,8,1,31,266,28856,108,13992,0,4,42,31,29,0,31,0
710038483,71,2,57,13,1,31,336,69967,223,63027,0,3,56,31,27,0,31,0
710038506,57,6,48,9,1,31,353,41502,169,16905,0,19,88,31,28,0,31,0
710039382,44,4,52,11,1,31,122,10812,109,12462,40,9,30,31,22,25,31,0
710041730,69,1,69,6,1,31,202,23232,264,27745,0,1,29,31,28,0,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719963429,32,6,20,14,1,31,328,59971,194,21332,0,11,64,31,31,0,31,0
719964373,39,1,34,7,1,31,181,17610,90,8648,0,3,86,31,19,0,31,0
719966415,19,4,15,6,1,31,152,17941,87,13731,0,5,20,31,26,0,31,0
719967317,78,5,38,26,1,31,316,26885,112,17232,0,26,114,31,30,0,31,0
719969637,40,3,34,8,1,31,255,56981,114,21741,0,7,63,31,11,0,31,0
719969820,16,9,16,10,10,31,335,54222,231,38244,0,113,113,31,31,0,31,0
719975363,85,1,34,8,1,31,309,27842,153,16456,0,1,37,31,27,0,31,0
719979089,45,2,43,8,1,31,199,20540,108,8329,1,18,88,31,23,10,31,0
719980103,33,0,34,4,1,31,184,20147,141,14918,0,0,22,31,0,0,31,0
719981026,7,11,6,13,8,31,166,68438,115,69915,0,215,166,31,31,0,31,0
719981358,13,5,10,7,1,31,315,72695,119,32522,0,12,17,30,18,0,30,0
719982250,83,4,58,4,1,31,260,16576,163,8759,0,91,15,31,30,0,31,0
719982360,46,2,53,9,1,31,138,14640,197,20081,0,4,23,31,11,0,31,0
719982596,76,1,40,13,1,31,396,59070,96,5101,0,1,79,31,9,0,31,0
719982910,51,3,53,13,1,31,337,47552,110,12181,0,6,94,31,24,0,31,0
719984598,7,28,0,0,5,28,14,460,0,0,3,47,0,24,28,5,28,0
719985486,35,0,17,7,1,31,262,33580,18,1166,0,0,88,31,0,0,31,0
719986113,83,3,66,7,1,31,577,83948,125,18407,0,3,60,31,26,0,31,0
719987177,31,1,22,5,1,31,396,42315,109,5610,0,6,51,31,29,0,31,0
719987862,10,8,6,5,3,31,242,54434,148,30377,0,304,457,31,31,0,31,0
719989152,38,4,44,7,1,31,241,18855,229,18632,0,7,48,31,29,0,31,0
719991815,25,0,23,6,1,31,305,35615,59,5606,0,0,11,31,0,0,31,0
719992957,55,6,28,11,1,31,271,22598,66,4062,0,8,65,31,31,0,31,0
719994297,40,9,16,11,1,30,97,19343,29,1402,0,75,37,19,18,0,19,0
719994972,39,0,18,2,1,31,234,46846,58,5889,0,0,3,31,0,0,31,0
719995179,41,3,24,14,1,31,207,44266,79,12003,0,4,62,31,23,0,31,0
719997739,37,2,24,17,1,31,245,53043,117,12733,1,4,78,31,24,2,31,0
719998543,19,1,13,4,1,31,96,4066,113,4579,0,3,17,31,21,0,31,0
719998683,49,5,54,9,1,31,439,28672,253,22060,2,5,28,31,20,10,31,0
719999025,33,3,38,11,1,31,326,68607,165,26375,0,50,115,31,31,0,31,0

In [69]:
joinchurn['last sms'].dtypes == '<M8[ns]'

True

In [79]:
joinchurn.to_csv('OneMonthData.csv', index=False)

<H3>Classifier</H3>

In [81]:
# Use Weka

<H3> Next Month's Data and Churner </H3>

In [82]:
# Second month data
secondmonth_raw = raw_data[raw_data['EVENT_DATE'].dt.month == 11]
secondmonth_group = secondmonth_raw.groupby('A_NUMBER')
secondmonth_features = secondmonth_group.apply(aggregations)

halfmonth2_raw = raw_data[(raw_data['EVENT_DATE'].dt.month == 12) & (raw_data['EVENT_DATE'].dt.day <16)]
halfmonth2_group = halfmonth2_raw.groupby(['A_NUMBER'])
halfmonth2_agg = halfmonth2_group.apply(nonchurns)

# join features and churn
joinchurn2 = secondmonth_features.join(halfmonth2_agg)
joinchurn2['churner'] = joinchurn2['churner'].fillna(1)

# Convert datetime to date, and fill in NaN->0
for column in joinchurn2:
    if joinchurn2[column].dtypes == '<M8[ns]':    # '<M8[ns]' is datetime 
        joinchurn2[column] = joinchurn2[column].dt.day
        joinchurn2[column] = joinchurn2[column].fillna(0)

In [83]:
joinchurn2
# Write to csv
joinchurn2.to_csv('SecondMonthData.csv', index=False)

In [84]:
joinchurn2

,out degree call,out degree sms,in degree call,in degree sms,first recds,last recds,num outgoing calls,total out call duration in sec,num incoming calls,total in call duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity,churner
A_NUMBER,,,,,,,,,,,,,,,,,,
710000810,57,2,47,11,1,30,168,10124,170,12701,0,2,142,30,16,0,30,0
710002560,38,4,32,11,1,30,236,42105,90,6099,0,63,151,30,29,0,30,0
710003902,53,0,45,7,1,30,320,72977,132,17453,0,0,52,30,0,0,30,0
710004420,43,1,43,7,1,30,99,6429,142,7112,0,1,50,30,25,0,30,0
710004816,28,8,33,12,1,30,343,91015,297,65623,0,45,36,30,30,0,30,0
710005499,49,2,53,15,1,30,149,16387,136,16456,8,4,188,30,29,17,30,0
710007474,69,1,70,13,1,30,261,31462,223,11288,0,1,61,30,27,0,30,0
710008952,34,2,36,7,1,30,292,61940,151,32814,0,15,51,30,10,0,30,0
710010999,47,3,44,4,1,30,180,31168,134,18677,0,3,4,30,13,0,30,0
710011709,30,0,3,3,2,30,75,13158,3,82,20,0,16,30,0,30,30,0
710013538,28,8,27,14,1,30,164,18015,111,9418,0,140,121,30,30,0,30,0
710013994,78,0,48,6,1,30,195,26370,167,14302,0,0,184,30,0,0,30,0
710014252,28,11,11,17,1,30,108,19331,110,17859,0,79,210,30,30,0,30,0
710014837,55,1,37,8,1,30,255,32835,96,10213,0,2,86,30,20,0,30,0
710015173,48,1,29,8,1,30,145,14112,71,7965,0,3,70,30,28,0,30,0
710018885,104,20,91,18,1,30,322,22558,197,14153,0,36,76,30,3,0,30,0
710021159,11,4,8,7,1,30,208,108971,136,179886,0,99,126,30,29,0,30,0
710022340,12,2,9,5,1,30,43,2318,15,1497,0,6,36,30,20,0,30,0
710025107,86,5,61,4,1,30,281,21510,102,7472,0,17,37,30,28,0,30,0
710027975,28,14,27,7,1,30,150,23027,46,3271,0,18,53,30,30,0,30,0
710028029,52,2,28,10,1,30,390,55253,48,2572,0,11,73,30,30,0,30,0
710031298,36,2,20,5,1,30,117,5830,91,7208,0,3,19,30,22,0,30,0
710031545,70,3,66,6,1,30,217,22533,177,18852,0,3,43,30,20,0,30,0
710032941,0,0,0,5,1,30,0,0,0,0,0,0,69,0,0,0,0,0
710033285,21,0,92,5,1,30,88,9722,380,15584,1,0,26,27,0,4,27,0
710035696,48,3,47,7,1,30,304,34611,107,13714,0,9,39,30,22,0,30,0
710038483,67,1,47,10,1,30,251,34129,142,29815,0,3,51,30,19,0,30,0
710038506,47,4,40,6,1,30,281,33718,166,13990,0,13,79,30,29,0,30,0
710039382,59,4,53,5,1,30,163,21036,136,17597,22,5,18,30,27,27,30,0
710041730,41,0,47,6,1,30,85,11850,112,21804,0,0,19,30,0,0,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719964373,32,1,33,8,1,30,156,15967,83,8473,0,1,101,30,9,0,30,0
719966415,15,1,9,4,1,30,109,9223,56,6274,1,1,21,29,17,24,29,0
719967317,67,9,41,26,1,30,339,28444,138,15348,0,42,143,30,27,0,30,0
719969637,44,0,39,5,1,30,227,53822,154,18862,0,0,47,30,0,0,30,0
719969820,15,11,15,12,1,30,511,100113,233,41741,0,242,163,30,30,0,30,0
719975363,55,0,29,8,1,30,196,13983,121,10636,0,0,41,30,0,0,30,0
719979089,48,4,43,10,1,30,306,44054,142,10768,4,63,104,30,30,30,30,0
719980103,36,1,33,6,1,30,228,30394,133,17791,0,1,44,30,29,0,30,0
719981026,13,4,5,13,1,30,165,42172,67,26871,0,331,338,30,30,0,30,0
719981358,11,4,11,5,1,28,254,59694,135,42600,0,8,21,28,21,0,28,0
719982250,88,3,48,3,1,30,329,22665,141,7957,0,88,8,30,29,0,30,0
719982360,67,1,60,8,1,30,206,18140,184,19483,0,1,31,30,5,0,30,0
719982596,76,1,23,10,1,30,272,32827,41,2254,0,1,58,30,8,0,30,0
719982910,52,11,33,27,1,30,377,39815,104,11107,0,16,106,30,29,0,30,0
719984598,5,2,0,0,5,24,7,460,0,0,5,5,0,24,17,16,24,0
719985486,31,0,12,8,2,30,279,31421,23,1614,0,0,103,30,0,0,30,0
719986113,79,1,52,8,1,30,533,91074,107,15041,0,2,62,30,14,0,30,0
719987177,43,1,24,4,1,30,409,50270,95,5031,0,1,57,30,7,0,30,0
719987862,14,7,6,7,1,30,224,37937,50,8842,0,282,342,30,30,0,30,0
719989152,62,3,52,8,1,30,407,30420,212,21563,0,3,50,30,15,0,30,0
719991815,15,0,23,5,1,30,190,24689,96,5909,0,0,11,30,0,0,30,0
719992884,1,0,0,0,1,1,1,12,0,0,0,0,0,1,0,0,1,1
719992957,74,7,34,14,1,30,309,24763,76,5057,0,13,81,30,27,0,30,0
719994297,18,6,13,8,3,30,37,7427,22,2495,0,37,29,30,30,0,30,0
719994972,50,0,23,2,1,30,204,35667,43,3405,0,0,7,30,0,0,30,0
719995179,41,0,20,8,1,30,185,44271,82,20880,0,0,68,29,0,0,29,0
719997739,34,4,15,14,1,30,209,41809,68,6973,6,8,75,30,28,21,30,0
719998543,32,1,24,4,1,30,145,7175,113,4767,0,2,17,30,13,0,30,0
719998683,28,0,36,6,1,30,105,12947,159,19805,1,0,33,30,0,18,30,0
719999025,26,4,22,12,1,30,138,29417,85,25765,0,57,134,30,26,0,30,0